.add-user{
  height: 200px;
  padding:10px;
  border: 1px solid orange;
  padding-left: 50px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.display-user{
  margin-top: 40px;
  padding:10px;
  border: 1px solid orange;
   /* overflow: scroll; */
}

.add-user-input{
  width: 250px;
  height: 35px;
  display: block;
}

.add-user-button{
  margin-top: 10px;
  width: 254px;
  height: 35px;
  display: block;
}

.user-item{
  background-color: bisque;
  color: black;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
}
